<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="main">
                    <a href="/cilent/index.html">Home</a>
                </div>
                <div class="main2">
                    <div class="subrow">
                        <div class="one">
                            <a href="/cilent/pages/signup.html" id="signup">Signup</a>
                        </div>
                        <div class="two">
                            <a href="/cilent/pages/login.html" id="login">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html> -->